@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

a:hover{
    color: rgba(201, 205, 26, 1);
}

a{
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin-left: 33px;
}

nav{
    background-color: rgba(28, 28, 28, 1);
    font-size: 18px;
    font-weight: 400;
      font-family: "Itim", cursive;
}

.section-2 h1{
 font-family: "Jomhuria", serif;
font-size: 4rem;

}

.section-2-div-1{
    width:40% ;
    margin: auto;
}

.footer-div-1{
    background-color: rgba(48, 48, 48, 1);
}

.footer-div-1 p{
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Itim", cursive;
}

.accordion-question::after{
    filter: invert(1);
}

.accordion-question:focus{
    box-shadow: none;
}

.footer-div-2{
    background-color: rgba(28, 28, 28, 1);
    font-family: "Open Sans", sans-serif;
}


@media(max-width:768px){
    a{
        margin-left: 0;
    }

    ul{
         margin-top: 15px;
    }

    footer p{
    width: 80%;
    margin: auto;
    font-size: 18px;
    font-family: "Itim", cursive;
}
}